<%- include("partials/header")%>
<div class="myCon3">
    <h1 class="HomeTitle Password">Tsk Tsk Tsk, not everyone can get into the club</h1>
<form class="myForm" action="/password" method="POST">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required> 
    <button type="submit">Login</button>
  </form>

</div>
  <%- include("partials/footer") %>